* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
  }

  body {
    background-color: hsl(356, 74%, 95%);
  }

  section  {
    margin-top: 7rem;
    margin-left: 2rem;
    width: 40vw;
    height: 70vh;
    background-color: hsl(356, 74%, 95%);
  }

  .DD {
    margin-top: -21rem;
    margin-left: 29rem;
    width: 53vw;
    height: 70vh;
    background-color: hsl(356, 74%, 95%);
  }

  nav {
    width: 100%;
    background-color: snow;
    display: flex;
    top: 0;
    padding: 20px;
    margin-top: 6;
    position: fixed;
    justify-content: space-evenly;
  }

  a:link {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: orangered;
  }

  .D5 {
    display: flex;

    background-color: rgb(190, 229, 245);
    padding: 15px;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .ed1 {
    margin-left: 3rem;
    margin-top: 2rem;
  }

  .ed2 {
    margin-top: 2rem;
    margin-left: 3rem;
  }

  button {
    font-size: large;
    padding: 1rem;
    color: bisque;
    margin-top: 2rem;
    margin-left: 7rem;
    border-radius: 0.8rem;
    background-color: orangered;
    border-color: orangered;
  }

  button:hover {
    border-color: bisque;
  }

  .input {
    border: none;
  }

  .ps {
    margin-top: 1rem;
  }

  .one {
    padding-left: 21rem;
    padding-top: 0.5rem;
  }

  .two {
    padding-left: 10rem;
    padding-top: 1rem;
  }

  .three {
    padding-top: 1rem;
    padding-top: 0.5rem;
  }